@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(34,34,60,1) 0%, rgba(94,93,161,1) 100%);
  background-repeat: no-repeat;
  color: #BDB9C0;
}